page-home {

  h2 {
    font-family: Montserrat, sans-serif;
    margin-left: 1em;
    font-size: 1.4em;
  }

  ion-slides {
    height: 50vh;
  }

  .slide-zoom {
    padding: 1em;
  }
  .swiper-slide img {
        border-radius: 12px;
        object-fit: cover;
        height: 42vh;
        width: 100%;
        max-height: 100%;
        margin-bottom: 38px;
        box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }

  ion-card {
    position: relative;
    text-align: center;
    border-radius: 12px;
    display: inline-block;

    img {
      object-fit: cover;
      height: 120px;
    }
  }

  .card-md, .card-ios {
    border-radius: 12px;
    width: 40%;
    height: 180px;
  }
      
  .card-title {
    font-size: 1.6em;
    width: 100%;
    font-weight: bold;
    color: black;
    text-align: left;
  }
      
  .card-subtitle {
    font-size: 1.0em;
    width: 100%;
    color: grey;
    text-align: left;
  }

  .card-info {
    font-family: 'Roboto', sans-serif;
    padding: 0.2em;
    font-size: 70%;
  }

  .small-fab {
    font-size: 1em;
  }

  .small-ion-fab {
    width: 32px;
    height: 32px;
  }  

  .slide-info {
    background-color: white;
    border-radius: 12px;
    width: 50%;
    font-family: Roboto, sans-serif;
    position: absolute;
    padding: 8px;
    top: 39vh;
    left: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .slide-info-title {
    font-weight: bold;
    font-size: 0.8em;
  }

  .slide-info-details {
    color: grey;
    font-size: 0.8em;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0px;
  }
}
