<div class="columns is-centered">
  <div class="column is-half-desktop">
    <div class="swiper-container" [swiper]="config">
      <div class="swiper-wrapper">
        <div *ngFor="let slideItem of slides" class="swiper-slide">
          <img src="{{slideItem}}"/>
          <div class="slide-text">
            <div class="slide-title">Espresso martini</div>
            <div class="slide-description">
              <div class="slide-description-item">Short Drink</div>
              <div class="slide-description-item">Cobblers</div>
              <div class="slide-description-item"><i class="fas fa-star"></i> 4.7</div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination" ></div>
    </div>
  </div>
</div>

