@import "~src/theme";

.background-illustration {
  height: 50vh;
  width: 100%;
  object-fit: cover;
  transition: 1s;
}

.blur {
  filter: blur(.4rem);
  transition: (1s);
}

.recipe {
  background-color: white;
  width: 100%;
  padding: 32px 16px 16px;

  $draggable-bar-width: 3rem;
  .draggable-bar {
    border: .2rem solid #e2e2e2;
    background-color: #e2e2e2;
    border-radius: 1rem;
    width: $draggable-bar-width;
    position: absolute;
    top: 1rem;
    left: calc(50% - (#{$draggable-bar-width}/2));
  }

  .tabs {
    margin-bottom: 1rem;

    li.is-active a {
      border-bottom-color: $primary;
    }
  }

  .subtitle, .tabs a {
    text-transform: uppercase;
    font-size: 1rem;
    color: $secondary;
    font-weight: bold;
    margin-top: 1rem;
  }


  .description {
    text-align: justify;
    line-height: 1.2rem;
  }

  .ingredients {
    font-size: 0.8rem;
    text-align: center;

    .ingredient-illustration {
      display: block;
      margin: auto;
      width: 2rem;
    }
  }
    .directions {
      ol {
        counter-reset: li;
        list-style: none;
        margin-bottom: 4em;
      }

      ol li {
        position: relative;
        display: block;
        padding-left: 2rem;
        margin: 1em;
        text-align: justify;
        line-height: 1.2rem;
      }

      ol li:before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: -1.3em;
        top: 50%;
        margin-top: -1.3em;
        color: white;
        height: 2em;
        width: 2em;
        border: .3em solid #fff;
        text-align: center;
        font-weight: bold;
        border-radius: 2em;
        transition: all .3s ease-out;
        background-image: $primary_gradient;
      }
    }
}

.recipe-up {
  position: absolute;
  top: 3rem;
  border-radius: 0;
  transition-duration: 0.4s;
  height: 100%;
}

$top: 44vh;
.recipe-down {
  position: absolute;
  top: $top;
  max-height: 100vh - $top;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition-duration: 0.4s;
  overflow: hidden;
}
