.background-illustration {
  height: 50vh;
  object-fit: cover;
}

.recipe {
  background-color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  position: absolute;
  width: 100%;
  bottom: 6px;
  padding: 16px;
  padding-top: 32px;
}
