@import "~src/theme";

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Regular.ttf");
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  color: $secondary !important;
}

.swiper-pagination-bullet-active {
  background: black !important;
  width: 10px;
  height: 10px;
}

.section-title {
  font-weight: bold;
  font-size: 1.2em;
}

.back-button {
  position: absolute;
  padding: 1rem;
  font-size:1rem;
  z-index: 1000;

  opacity: .8;
}

.fa-icon {
  margin-right: .2rem !important;
}

.swiper-slide.ng-tns-c2-1.ng-star-inserted.swiper-slide-active {
  width: 100% !important;
}

