@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Regular.ttf");
}

body {
  font-family: 'Lato', sans-serif;
}


.swiper-pagination-bullet-active {
  background: black !important;
  width: 10px;
  height: 10px;
}
